{{extend 'layout.html'}}

<section class="mainContent">
	<article>
		
		<header>
			<h3> {{=T('Brand Panel')}} </h3>
			<hr />
			<nav class="mainGuideMenu">
				<ul>
					<li>
						<a href="{{=URL('project', 'new')}}">{{=T('Create new briefing project')}}</a>
					</li>
					
					<li>
						<a href="{{=URL('project', 'new')}}">{{=T('Visualize clients')}}</a>
					</li>
					
					<li>
						<a href="{{=URL('project', 'new')}}">{{=T('Visualize briefing projects')}}</a>
					</li>
				</ul>
			</nav>
			<hr />
		</header>
		
		<div class="contentHolder">
		    
		</div>
		
		<footer>
		    
		</footer>

	</article>
</section>
