{{extend 'layout.html'}}

<section class="mainContent">
	<article>
		
		<header>
			<h3> {{=T('New client')}} </h3>
			<hr />
			<nav class="mainGuideMenu">
				<ul>
					<li>
						<a href="{{=URL('client', 'index')}}">{{=T('Return to clients')}}</a>
					</li>
				</ul>
			</nav>
			<hr />
		</header>
		
		<div class="contentHolder">
			<section>
				<article>
					<header>
					</header>
					<div>
						{{=form}}
					</div>
					<footer>
					</footer>
				</article>
			</section>
		</div>
		
		<footer>
		    
		</footer>

	</article>
</section>
